# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
_internal/
Output/

# Logs and local settings
*.log
*.user
config.yaml

# Virtual environment
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# Secret files
*.key