QWidget {
	background-color: {{ neutral.neutral_100 }};
}


/* Logo */
QLabel#logo_lable {
	background-image: url(:/dark/logo_dark.svg);
	background-repeat: no-repeat;
    background-position: left;
}


/* Buttons */
QPushButton {
	border: 1px solid {{ neutral.neutral_200 }};
	color: {{ neutral.neutral_600 }};
	border-radius: 8px;
}

/* Theme button */
QPushButton#theme_button {
	border: 0px;
	background-image: url(:/theme/dark/theme/dark/default.svg);
	background-repeat: no-repeat;
    background-position: left;
}

QPushButton#theme_button:hover {
	background-image: url(:/theme/dark/theme/dark/hover.svg);
}

QPushButton#theme_button:pressed {
	background-image: url(:/theme/dark/theme/dark/clicked.svg);
}

QPushButton#theme_button:disabled {
	background-image: url(:/theme/dark/theme/dark/disabled.svg);
}