QWidget {
	background-color: {{ neutral.neutral_100 }};
}


/* Logo */
LogoLabel {
	background-repeat: no-repeat;
    background-position: left;
}


/* QLabel */
QLabel {
	color: {{ neutral.neutral_900 }};
}

/* Info label */
InfoLabel {
	color: {{ neutral.neutral_700 }};
}


/* Buttons */
QPushButton {
	border-radius: 8px;
}

/* Theme button */
ThemeButton {
	border: 0px;
	background-repeat: no-repeat;
    background-position: left;
}

ThemeButton:hover {
	background-color: {{ neutral.neutral_100 }};
}

ThemeButton:pressed {
	background-color: {{ neutral.neutral_100 }};
}

ThemeButton:disabled {
	background-color: {{ neutral.neutral_100 }};
}

/* Primary button */
PrimaryButton {
	border: 0px;
	color: {{ neutral.neutral_900 }};
	background-color: {{ accent.accent_500 }};
}

PrimaryButton:hover {
	background-color: {{ accent.accent_400 }};
}

PrimaryButton:pressed {
	background-color: {{ accent.accent_600 }};
}

PrimaryButton:disabled {
	background-color: {{ neutral.neutral_200 }};
	color: {{ neutral.neutral_300 }};
}

/* Secondary button */
SecondaryButton {
	border: 1px solid {{ neutral.neutral_900 }};
	color: {{ neutral.neutral_600 }};
	background-color: {{ neutral.neutral_200 }};
}

SecondaryButton:hover {
	border: 1px solid {{ neutral.neutral_350 }};
	color: {{ neutral.neutral_700 }};
	background-color: {{ neutral.neutral_300 }};
}

SecondaryButton:pressed {
	border: 1px solid {{ neutral.neutral_500 }};
	color: {{ neutral.neutral_800 }};
	background-color: {{ neutral.neutral_400 }};
}

SecondaryButton:disabled {
	border: 1px solid {{ neutral.neutral_200 }};
	color: {{ neutral.neutral_200 }};
	background-color: {{ neutral.neutral_100 }};
}

/* Tertiary button */
TertiaryButton {
	border: 1px solid {{ neutral.neutral_200 }};
	color: {{ neutral.neutral_600 }};
}

TertiaryButton:hover {
	border: 1px solid {{ neutral.neutral_250 }};
	color: {{ neutral.neutral_700 }};
	background-color: {{ neutral.neutral_200 }};
}

TertiaryButton:pressed {
	border: 1px solid {{ neutral.neutral_350 }};
	color: {{ neutral.neutral_800 }};
	background-color: {{ neutral.neutral_300 }};
}

TertiaryButton:disabled {
	border: 1px solid {{ neutral.neutral_200 }};
	color: {{ neutral.neutral_200 }};
	background-color: {{ neutral.neutral_100 }};
}

/* Text button */
TextButton {
	color: {{ accent.accent_500 }};
}

TextButton:hover {
	color: {{ accent.accent_400 }};
}

TextButton:pressed {
	color: {{ accent.accent_600 }};
}

TextButton:disabled {
	color: {{ accent.accent_700 }};
}


/* Checkbox */
QCheckBox {
	spacing: 8px;
	color: {{ neutral.neutral_600 }};
}

QCheckBox:hover {
	color: {{ neutral.neutral_800 }};
}

QCheckBox:disabled {
	color: {{ neutral.neutral_200 }};
}

QCheckBox:checked {
	color: {{ neutral.neutral_900 }};
}

QCheckBox:checked:disabled {
	color: {{ neutral.neutral_250 }};
}

QCheckBox::indicator {
	width: 18px;
	height: 18px;
	border: 1px solid {{ neutral.neutral_500 }};
	border-radius: 4px;
	background-color: {{ neutral.neutral_100 }};
}

QCheckBox::indicator:hover {
	border: 1px solid {{ neutral.neutral_700 }};
}

QCheckBox::indicator:disabled {
	border: 1px solid {{ neutral.neutral_200 }};
}

QCheckBox::indicator:checked {
	width: 20px;
	height: 20px;
	border: 0px;
	background-color: {{ accent.accent_500 }};
	image: url(:/icons/dark/check/dark/default.svg);
}

QCheckBox::indicator:checked:hover {
	background-color: {{ accent.accent_400 }};
}

QCheckBox::indicator:checked:disabled {
	background-color: {{ accent.accent_700 }};
	image: url(:/icons/dark/check/dark/check_dark_disabled.svg);
}

ViewPasswordCheckbox::indicator {
	border: 0px;
	padding: 0px 2px;
	background-image: url(:/icons/dark/view/dark/Default.svg);
	background-repeat: no-repeat;
    background-position: center;
}

ViewPasswordCheckbox::indicator:hover {
	border: 0px;
	background-image: url(:/icons/dark/view/dark/Hover.svg);
	background-color: {{ neutral.neutral_100 }};
}

ViewPasswordCheckbox::indicator:checked {
	image: none;
	background-image: url(:/icons/dark/view/dark/Checked.svg);
	background-color: {{ neutral.neutral_100 }};
}

ViewPasswordCheckbox::indicator:checked:hover {
	background-image: url(:/icons/dark/view/dark/Checked Hover.svg);
	background-color: {{ neutral.neutral_100 }};
}

ViewPasswordCheckbox::indicator:disabled {
	background-image: url(:/icons/dark/view/dark/Default Disabled.svg);
	background-color: {{ neutral.neutral_100 }};
}

ViewPasswordCheckbox::indicator:checked:disabled {
	background-image: url(:/icons/dark/view/dark/Checked Disabled.svg);
	background-color: {{ neutral.neutral_100 }};
}


/* LineEdits */
QLineEdit {
	border-radius: 8px;
	border: 1px solid {{ neutral.neutral_250 }};
	background-color: {{ neutral.neutral_100 }};
	color: {{ neutral.neutral_400 }};
	padding: 0px 16px;
}

QLineEdit:hover {
	border: 1px solid {{ neutral.neutral_300 }};
	color: {{ neutral.neutral_700 }};
}

QLineEdit:focus {
	border: 1px solid {{ accent.accent_500 }};
	color: {{ neutral.neutral_900 }};
}

QLineEdit:disabled {
	border: 1px solid {{ neutral.neutral_200 }};
	color: {{ neutral.neutral_200 }};
}


/* Notifications */
#Notification {
	background-color: transparent;
    border: none;
}

#notification_container {
	background-color: {{ neutral.neutral_100 }};
	border-radius: 8px;
    border: 1px solid {{ neutral.neutral_300 }};
	padding: 1px;
}

#Notification #label {
	color: {{ neutral.neutral_900 }};
}

#Notification #description {
	color: {{ neutral.neutral_700 }};
}

#Notification #notify_type_line_frame {
    border-radius: 7px;
	margin: 1px 0px 1px 1px;
}

#Notification #close_pushButton {
	background-image: url(:/icons/dark/close/dark/default.svg);
	background-repeat: no-repeat;
    background-position: center;
	border-radius: 0px;
}

#Notification #close_pushButton:hover {
	background-image: url(:/icons/dark/close/dark/hover.svg);
}

#Notification #close_pushButton:pressed {
	background-image: url(:/icons/dark/close/dark/clicked.svg);
}

#Notification #close_pushButton:disabled {
	background-image: url(:/icons/dark/close/dark/disabled.svg);
}

/* Success */
#Notification[notificationType="success"] #notify_type_line_frame {
	background-color: {{ semantic.success.success_500 }};
}

/* Info */
#Notification[notificationType="info"] #notify_type_line_frame {
	background-color: {{ semantic.info.info_500 }};
}

/* Warning */
#Notification[notificationType="warning"] #notify_type_line_frame {
	background-color: {{ semantic.warning.warning_500 }};
}

/* Error */
#Notification[notificationType="error"] #notify_type_line_frame {
	background-color: {{ semantic.error.error_500 }};
}


/* Email Confirm Window */
QFrame#emailConfirmContainer {
    border-radius: 8px;
    background-color: {{ neutral.neutral_100 }};
}