QWidget {
	background-color: {{ neutral.neutral_100 }};
}


/* Logo */
LogoLabel {
	background-image: url(:/light/logo_light.svg);
	background-repeat: no-repeat;
    background-position: left;
}


/* QLabel */
QLabel {
	color: {{ neutral.neutral_900 }};
}

/* Info label */
InfoLabel {
	color: {{ neutral.neutral_700 }};
}


/* Buttons */
QPushButton {
	border-radius: 8px;
}

/* Theme button */
ThemeButton {
	border: 0px;
	background-image: url(:/icons/light/theme/light/default.svg);
	background-repeat: no-repeat;
    background-position: left;
}

ThemeButton {
	background-image: url(:/icons/light/theme/light/hover.svg);
	background-color: {{ neutral.neutral_0 }};
}

ThemeButton {
	background-image: url(:/icons/light/theme/light/clicked.svg);
	background-color: {{ neutral.neutral_0 }};
}

ThemeButtonPrimaryButton {
	background-image: url(:/icons/light/theme/light/disabled.svg);
	background-color: {{ neutral.neutral_0 }};
}

/* Primary button */
PrimaryButton {
	border: 0px;
	color: neutral.neutral_0;
	background-color: {{ accent.accent_500 }};
}

PrimaryButton:hover {
	background-color: {{ accent.accent_600 }};
}

PrimaryButton:pressed {
	background-color: {{ accent.accent_400 }};
}

PrimaryButton:disabled {
	background-color: {{ neutral.neutral_50 }};
}

/* Secondary button */
SecondaryButton {
	border: 1px solid {{ neutral.neutral_100 }};
	color: {{ neutral.neutral_600 }};
	background-color: {{ neutral.neutral_50 }};
}

SecondaryButton:hover {
	border: 1px solid {{ neutral.neutral_200 }};
	color: {{ neutral.neutral_700 }};
	background-color: {{ neutral.neutral_150 }};
}

SecondaryButton:pressed {
	border: 1px solid {{ neutral.neutral_300 }};
	color: {{ neutral.neutral_800 }};
	background-color: {{ neutral.neutral_200 }};
}

SecondaryButton:disabled {
	border: 1px solid {{ neutral.neutral_50 }};
	color: {{ neutral.neutral_50 }};
	background-color: {{ neutral.neutral_0 }};
}

/* Tertiary button */
TertiaryButton {
	border: 1px solid {{ neutral.neutral_50 }};
	color: {{ neutral.neutral_700 }};
}

TertiaryButton:hover {
	border: 1px solid {{ neutral.neutral_100 }};
	color: {{ neutral.neutral_700 }};
	background-color: {{ neutral.neutral_50 }};
}

TertiaryButton:pressed {
	border: 1px solid {{ neutral.neutral_150 }};
	color: {{ neutral.neutral_800 }};
	background-color: {{ neutral.neutral_100 }};
}

TertiaryButton:disabled {
	border: 1px solid {{ neutral.neutral_50 }};
	color: {{ neutral.neutral_50 }};
	background-color: {{ neutral.neutral_0 }};
}

/* Text button */
TextButton {
	color: {{ accent.accent_500 }};
}

TextButton:hover {
	color: {{ accent.accent_600 }};
}

TextButton:pressed {
	color: {{ accent.accent_400 }};
}

TextButton:disabled {
	color: {{ accent.accent_100 }};
}


/* CheckBox */
QCheckBox {
	spacing: 8px;
	color: {{ neutral.neutral_600 }};
}

QCheckBox:hover {
	color: {{ neutral.neutral_800 }};
}

QCheckBox:disabled {
	color: {{ neutral.neutral_50 }};
}

QCheckBox:checked {
	color: {{ neutral.neutral_900 }};
}

QCheckBox:checked:disabled {
	color: {{ neutral.neutral_100 }};
}

QCheckBox::indicator {
	width: 18px;
	height: 18px;
	border: 1px solid {{ neutral.neutral_500 }};
	border-radius: 4px;
	background-color: {{ neutral.neutral_0 }};
}

QCheckBox::indicator:hover {
	border: 1px solid {{ neutral.neutral_700 }};
}

QCheckBox::indicator:disabled {
	border: 1px solid {{ neutral.neutral_50 }};
}

QCheckBox::indicator:checked {
	width: 20px;
	height: 20px;
	border: 0px;
	background-color: {{ accent.accent_500 }};
	image: url(:/icons/light/check/light/default.svg);
}

QCheckBox::indicator:checked:hover {
	background-color: {{ accent.accent_600 }};
}

QCheckBox::indicator:checked:disabled {
	background-color: {{ accent.accent_100 }};
}


/* LineEdits */
QLineEdit {
	border-radius: 8px;
	border: 1px solid {{ neutral.neutral_100 }};
	background-color: {{ neutral.neutral_0 }};
	color: {{ neutral.neutral_500 }};
	padding: 0px 16px;
}

QLineEdit:hover {
	border: 1px solid {{ neutral.neutral_150 }};
	color: {{ neutral.neutral_700 }};
}

QLineEdit:focus {
	border: 1px solid {{ accent.accent_500 }};
	color: {{ neutral.neutral_900 }};
}

QLineEdit:disabled {
	border: 1px solid {{ neutral.neutral_50 }};
	color: {{ neutral.neutral_900 }};
}


/* Notifications */
#Notification {
	background-color: transparent;
    border: none;
}

#notification_container {
	background-color: {{ neutral.neutral_0 }};
	border-radius: 8px;
}

#Notification #label {
	color: {{ neutral.neutral_900 }};
}

#Notification #description {
	color: {{ neutral.neutral_700 }};
}

#Notification #close_pushButton {
	background-image: url(:/icons/light/close/light/default.svg);
	background-repeat: no-repeat;
    background-position: center;
	border-radius: none;
}

#Notification #close_pushButton:hover {
	background-image: url(:/icons/light/close/light/hover.svg);
}

#Notification #close_pushButton:pressed {
	background-image: url(:/icons/light/close/light/clicked.svg);
}

#Notification #close_pushButton:disabled {
	background-image: url(:/icons/light/close/light/disabled.svg);
}

/* Success */
#Notification[notificationType="success"] #notify_type_line_frame {
	background-color: {{ success.success_500 }};
}

#Notification[notificationType="success"] #icon_label {
	background-image: url(:/icons/light/notification/light/success.svg);
	background-repeat: no-repeat;
    background-position: center;
}

/* Info */
#Notification[notificationType="info"] #notify_type_line_frame {
	background-color: {{ info.info_500 }};
}

#Notification[notificationType="info"] #icon_label {
	background-image: url(:/icons/light/notification/light/info.svg);
	background-repeat: no-repeat;
    background-position: center;
}

/* Warning */
#Notification[notificationType="warning"] #notify_type_line_frame {
	background-color: {{ warning.warning_500 }};
}

#Notification[notificationType="warning"] #icon_label {
	background-image: url(:/icons/light/notification/light/warning.svg);
	background-repeat: no-repeat;
    background-position: center;
}

/* Error */
#Notification[notificationType="error"] #notify_type_line_frame {
	background-color: {{ error.error_500 }};
}

#Notification[notificationType="error"] #icon_label {
	background-image: url(:/icons/light/notification/light/error.svg);
	background-repeat: no-repeat;
    background-position: center;
}